bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.GBGPT/.idea/.gitignore
/.idea/.idea.GBGPT/.idea/encodings.xml
/.idea/.idea.GBGPT/.idea/indexLayout.xml
/.idea/.idea.GBGPT/.idea/vcs.xml
